/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--accent-color: hsl(201.18deg 78.9% 46.47%);
	--light: hsl(0deg 0% 100%);
	--dark: hsl(0deg 0% 0%);
	--main-bg-color: hsl(214.29deg 31.82% 91.37%);
	--project-icon-color: hsl(0deg 0% 20%);
	--project-card-accent: hsl(41.91deg 86.9% 55.1%);
	--p-color: hsl(0deg 0% 38.82%);
}

body {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr;
	height: 100dvh;
	font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.aside {
	grid-row: 1 / 3;
	font-weight: bold;
	font-size: 1.25rem;
	background-color: var(--accent-color);
	color: var(--light);
}

.aside__icon {
	width: 50px;
}

.aside__nav-icon {
	width: 25px;
}

.header__item {
	display: grid;
	align-items: center;
}

.header__item:first-of-type {
	grid-template-columns: 3fr 1fr;
	gap: 128px;
}

.header__item:last-of-type {
	grid-template-columns: 2fr 1fr;
}

.header__search,
.header__profile,
.header__user,
.header__buttons {
	display: grid;
	align-items: center;
}

.header__search {
	grid-template-columns: auto 1fr;
}

.header__profile {
	grid-template-columns: repeat(3, auto);
}

.header__user {
	grid-template-columns: auto 1fr;
}

.header__buttons {
	grid-template-columns: repeat(3, min-content);
	justify-self: end;
	gap: 24px;
}

.main {
	display: grid;
	grid-template-columns: 2.75fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.main__projects {
	grid-row: 1 / 3;
}

.main__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
