/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

body {
	display: grid;
	grid-template-columns: 300px 1fr;
	height: 100dvh;
}

.aside {
	grid-row: 1 / 3;
}

.header__item {
	display: grid;
	align-items: center;
}

.header__item:first-of-type {
	grid-template-columns: 3fr 1fr;
	gap: 128px;
}

.header__item:last-of-type {
	grid-template-columns: 2fr 1fr;
}

.header__search,
.header__profile,
.header__user,
.header__buttons {
	display: grid;
	align-items: center;
}

.header__search {
	grid-template-columns: auto 1fr;
}

.header__profile {
	grid-template-columns: repeat(3, auto);
}

.header__user {
	grid-template-columns: auto 1fr;
}

.header__buttons {
	grid-template-columns: repeat(3, min-content);
	justify-self: end;
	gap: 24px;
}
