/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	--accent-color: hsl(201.18deg 78.9% 46.47%);
	--light: hsl(0deg 0% 100%);
	--dark: hsl(0deg 0% 0%);
	--search-input-bg-color: hsl(214.29deg 31.82% 91.37%);
	--main-bg-color: hsl(214.29deg 31.82% 91.37%);
	--project-icon-color: hsl(0deg 0% 20%);
	--project-card-accent: hsl(41.91deg 86.9% 55.1%);
	--p-color: hsl(0deg 0% 38.82%);
}

body {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: auto 1fr;
	height: 100dvh;
	font-family: "Inter", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.aside {
	grid-row: 1 / 3;
	font-weight: bold;
	font-size: 1.25rem;
	background-color: var(--accent-color);
	color: var(--light);
	padding: 16px;
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 40px;
}

.aside__branding,
.aside__nav-item {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
}

.aside__branding {
	gap: 12px;
}

.aside__nav,
.aside__nav-group {
	display: grid;
}

.aside__nav {
	grid-template-rows: auto 1fr;
	padding: 12px;
	gap: 56px;
}

.aside__nav-group {
	grid-auto-rows: min-content;
	gap: 16px;
}

.aside__nav-item {
	gap: 24px;
}

.aside__title {
	font-size: 1.875rem;
}

.aside__icon {
	width: 25px;
	fill: var(--light);
}

.aside__icon--size-big {
	width: 50px;
}

.header {
	display: grid;
	gap: 24px;
	padding: 16px 56px;
	box-shadow: 0 3px 5px hsl(0deg 0% 75%);
	z-index: 10;
}

.header__item {
	display: grid;
	align-items: center;
}

.header__item:first-of-type {
	grid-template-columns: 3fr max-content;
	gap: 128px;
}

.header__item:last-of-type {
	grid-template-columns: 2fr 1fr;
}

.header__search,
.header__profile,
.header__user,
.header__buttons {
	display: grid;
	align-items: center;
}

.header__search {
	grid-template-columns: auto 1fr;
	gap: 16px;
}

.header__search-input {
	border: none;
	background-color: var(--search-input-bg-color);
	border-radius: 9999px;
	height: 30px;
	padding-inline: 12px;
	font-size: .875rem;
}

.header__profile {
	grid-template-columns: repeat(3, auto);
	gap: 28px;
	margin-right: 32px;
}

.header__icon {
	width: 25px;
	height: 25px;
}

.header__name {
	font-weight: bold;
}

.header__user {
	grid-template-columns: auto 1fr;
	gap: 24px;
}

.header__user-image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 9999px;
}

.header__user-image--size-big {
	width: 75px;
	height: 75px;
}

.header__text {
	font-weight: bold;
}

.header__greeting {
	font-size: .875rem;
}

.header__user-handle {
	font-size: 1.5rem;
}

.header__buttons {
	grid-template-columns: repeat(3, 1fr);
	justify-self: end;
	gap: 28px;
}

.header__button {
	background-color: var(--accent-color);
	border: none;
	color: var(--light);
	font-weight: bold;
	border-radius: 9999px;
	padding: 8px 24px;
}

.main {
	display: grid;
	grid-template-columns: 2.75fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: var(--main-bg-color);
	padding: 32px 32px 32px 20px;
	gap: 24px;
}

.main__projects {
	grid-row: 1 / 3;
}

.main__title {
	font-weight: 600;
	font-size: 1.25rem;
}

.main__projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 28px;
	margin-top: 8px;
}

.main__card {
	background-color: var(--light);
	border-radius: 8px;
	box-shadow: 3px 3px 3px hsl(0deg 0% 80%);
}

.main__card--projects {
	padding: 28px 20px;
	border-left: 8px solid var(--project-card-accent);
	display: grid;
	align-content: space-between;
	gap: 16px;
}

.main__card-title {
	font-weight: bold;
}

.main__card-title--projects {
	font-size: 1.125rem;
}

.main__description {
	color: var(--p-color);
}

.main__project-icons {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	justify-content: end;
	gap: 24px;
}

.main__project-card-icon {
	width: 25px;
	height: 25px;
	fill: var(--project-icon-color);
}

.main__announcements-container {
	background-color: var(--light);
}
